@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #cce0f7; }

h1 {
  font-style: italic;
  font-size: 2.5em;
  text-align: center;
  color: #012a58; }

h2 {
  font-size: 1.5em;
  font-style: italic;
  color: #012a58; }

p {
  font-size: 1em;
  font-style: italic;
  color: #012a58; }

#botonera {
  background: rgba(255, 211, 50, 0.61);
  background: linear-gradient(0deg, rgba(255, 211, 50, 0.733) 0%, rgba(172, 172, 172, 0.651) 100%); }

#botonera img[src="img/logo.svg"] {
  width: 100px; }

ul li a {
  font-size: 1.5em;
  font-style: italic; }

footer {
  background-color: #012a58; }
  footer p {
    color: rgba(255, 211, 50, 0.733);
    text-align: center;
    font-family: "Roboto", sans-serif; }

.casa {
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box; }
  .casa img, .casa .house img:hover, .house .casa img:hover {
    max-width: 100%;
    border-radius: 5%;
    box-shadow: 0 0 5px #575656;
    cursor: pointer; }
  .casa h2 {
    padding-top: 10px; }

.alojamientos {
  margin-top: 50px;
  padding: 0 10px; }

.house {
  display: flex;
  flex-direction: column; }
  .house img, .house img:hover {
    border-radius: 5%;
    width: 50%;
    margin: auto; }
    .house img:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: transform 2s; }
  .house p {
    padding: 0 10px 10px;
    text-align: start;
    margin-top: 20px; }

.cabin h1 {
  margin: 30px 0;
  text-align: center; }

.temporada h1 {
  text-align: center;
  margin: 20px 0; }

.temporada table {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 15px; }

main ul li {
  color: #012a58;
  font-style: italic; }

main h1 {
  margin-top: 20px; }

.imagenes {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: auto;
  grid-template-areas: "foto foto foto";
  grid-area: foto; }

.galeria .imagenes .foto {
  box-sizing: border-box;
  padding: 5px;
  width: 90%;
  box-sizing: border-box;
  margin: 50px 10px 20px 20px; }
  .galeria .imagenes .foto img {
    width: 100%;
    border-radius: 5%; }
    .galeria .imagenes .foto img:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: transform 2s; }

#contacto {
  margin: 20px 0; }

#consultas {
  text-align: center; }

#ubicacion {
  text-align: center; }

.formulario input,
.formulario textarea {
  background-color: #cccccc;
  border-radius: 5px;
  border: 1px solid #f8cb50;
  width: 100%; }

#promocion {
  width: min-content; }

.formulario textarea {
  resize: none;
  height: 200px;
  width: 100%; }

.formulario input[type="submit"]:hover {
  background-color: #a68562;
  box-shadow: 0 0 5px; }

.formulario input[type="reset"]:hover {
  background-color: #a68562;
  box-shadow: 0 0 5px; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.consultas .formulario p {
  text-align: left; }

@media screen and (max-width: 480px) {
  main h2 {
    margin-top: 10px; }
  .foto img, .foto .house img:hover, .house .foto img:hover {
    margin: 10px 0; }
  #ubicacion {
    margin-top: 20px; } }

@media screen and (max-width: 768px) {
  .alojamientos .cabin .house img {
    width: 100%; }
  .cabin h2 {
    margin-bottom: 30px; }
  .house p {
    margin-top: 30px; }
  main h2 {
    margin-top: 20px; }
  #ubicacion {
    margin-top: 20px; }
  main .galeria .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .galeria .imagenes .foto {
      margin: 20px 10px; }
  .formulario input,
  textarea,
  p {
    width: 100%;
    margin-bottom: 10px;
    padding: 0; }
  .formulario #promocion {
    width: min-content; }
  .contacto,
  .ubicacion {
    float: none; }
  .consultas,
  .ubicacion {
    width: 100%; }
  .contacto .consultas {
    width: 100%; }
  .contacto .ubicacion {
    width: 100%; } }

@media screen and (max-width: 1024px) {
  main h2 {
    margin-top: 40px; } }
