main #contacto {
    margin-top: 20px;
}

.formulario input,
.formulario textarea {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    border: 1px solid rgb(248, 203, 80);
    width: 100%;
}

#promocion {
    width: min-content;
}

.formulario textarea {
    resize: none;
    height: 200px;
    width: 100%;
}

.formulario input[type="submit"]:hover {
    background-color: #a68562;
    box-shadow: 0 0 5px;
}

.formulario input[type="reset"]:hover {
    background-color: #a68562;
    box-shadow: 0 0 5px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.consultas .formulario p {
    text-align: left;
}

.consultas,
.ubicacion h3 {
    text-align: center;
}