@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
$fontMain:'Roboto',
sans-serif;
// variables para los textos
$textLg:2.5em;
$textMd:2em;
$textSm:1.5em;
$textXs:1em;
//h1 - h2 - p
h1 {
    @include titulos(italic,
    $textLg,
    center,
    map-get($map: $paleta, $key: 'font'))
}

h2 {
    @include text($textSm,
    italic,
    map-get($map: $paleta, $key: 'font'))
}

p {
    @include text($textXs,
    italic,
    map-get($map: $paleta, $key: 'font'))
}