#botonera {
    background: map-get($map: $paleta, $key: 'navbar');
    background: linear-gradient(0deg, map-get($map: $paleta, $key: 'navbar2') 0%, map-get($map: $paleta, $key: 'navbar3') 100%);
}

#botonera img[src="img/logo.svg"] {
    width: 100px;
}

ul li a {
    font-size: $textSm;
    font-style: italic;
}

// footer
footer {
    background-color: map-get($map: $paleta, $key: 'font');
    p {
        color: map-get($map: $paleta, $key: 'navbar2');
        text-align: center;
        font-family: $fontMain;
    }
}